
    <div class="col-md-6" class="document-list-container">
      <h2>Document List</h2>
      <div class="document-list-items"
        
          
          *ngFor="let document of documents; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveDocument(document, i)"
        >
        {{ document.name }} 
        <div  class="material-symbols-outlined" (click)="deleteDocument(document.id)">
          delete
        </div>
       
        </div>
      
        
          </div>

    <!-- <div class="col-md-6">
      <div *ngIf="currentDocument">
        <h4>Document</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentDocument.name }}
        </div>
  
      <div *ngIf="!currentDocument">
        <br />
        <p>Please click on a Document...</p>
      </div>
    </div> -->
