html{
    color: #755c57;
    font-family: "Poetsen One", sans-serif; 
    background:url(../src/assets/BlueBoho.jpg); 
    height: 100%;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


